@page
@model IndexModel
@{
    ViewData["Title"] = "Foodboxes";
}

<h1>Foodboxes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodBox[0].TypeOfFood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodBox[0].FoodName)
            </th>
            <th>
                @Html.DisplayName("Restaurant")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodBox[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FoodBox) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfFood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FoodboxId">Buy</a>
            </td>
        </tr>
}
    </tbody>
</table>
