@page
@model WebApplication1.Pages.FoodBoxes.IndexModel

@{
    ViewData["Title"] = "Food Boxes";
}

<h1>Food Boxes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Type of Food</th>
        <th>Food Name</th>
        <th>Price</th>
        <th>Purchase</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.FoodBoxes) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfFood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FoodboxId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FoodboxId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FoodboxId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
